# ======= CORE SERVICE SPECIFIC CONFIG =======
SERVER_PORT=8082

# Local Database Port: 5434
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5434/core_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# Kafka Bootstrap Server
SPRING_KAFKA_BOOTSTRAP_SERVERS=localhost:9092

# Feign Client Identity URL
IDENTITY_SERVICE_URL=http://localhost:8081

# AI Service URL
AI_SERVICE_URL=http://localhost:8000
INTERNAL_API_KEY=your_internal_api_key_here

# OpenTelemetry Tracing
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
