# ======= GATEWAY SERVICE SPECIFIC CONFIG =======
SERVER_PORT=8080

# JWT validation key
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970

# Downstream Services Routing URLs
IDENTITY_SERVICE_URL=http://localhost:8081
CORE_SERVICE_URL=http://localhost:8082
SOCIAL_SERVICE_URL=http://localhost:8083

# CORS Config (Domain frontend allowed)
ALLOWED_ORIGIN=http://localhost:3000

# OpenTelemetry Tracing
OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4318/v1/traces
